html {
    height: 100%;
    width: 100%;
    padding: 0s;
    margin: 0;
    overflow:scroll;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.wrapper {
    height: 200vh;
  }

/* HEADER */

header {
    position: sticky;
    top: 0;
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    gap: 1rem;
    padding: 0.5rem clamp(1rem, 3.415rem, 2rem);
    background-color: white;
    z-index: 999;
    height: 5rem;
}

header.header-scroll {
    box-shadow: 0px 3px 10px 8px rgba(0, 0, 0, 0.12);
    transition-duration: 400ms;
}

.header-wrapper {
    height: 100%;
    width: 95%;
    background: #ffffff;
    display: flex;
    align-items: center;
    margin: 0 auto;
    
}

.header-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 0.05rem;
    margin-bottom: auto;
    
}

.logo-header {
    margin-right: auto;
    max-width: 8.537rem;
    align-items: center;
    width: auto;
    height: 100%;
}


.img-logo {
    margin-left: 0;
    height: 95%;
}

.navbar-container {
    /* padding-right: 2.5%; */
    display: flex;
    font-weight: bold;
    text-decoration: none;
    align-items: center;
    flex-direction: row;
    gap: 3rem;
    margin-left: auto;
}
@media only screen and (max-width:768px){
    .navbar-container {
        gap: 1rem;
    }
}

.toggle-navbar {
    visibility: hidden;
    opacity: 0;
    width: fit-content;
    pointer-events: none;
    right: 100%;
    left: unset;
}
@media only screen and (max-width:768px) {
    .toggle-navbar{
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }
}

.toggle-navbar i {
    cursor: pointer;
    color: #eb0000;
    font-size: 1.5rem;
}

.menu {
    display: flex;
    align-items: center;
    gap: 3rem;
    font-size: 0.9rem;
}

.menu a {
    cursor: pointer;
    color: #BC2F47;
    text-decoration: none;
}
.menu a:hover {
    color: #771e2d;
}

.menu li {
    list-style-type: none;
    font-weight: 490;
}

@media only screen and (max-width:768px) {
    .menu {
        display: none;
    }
}

.dropdown-menu {
    position: absolute;
    top: 4.5rem;
    right: 0;
    background-color: #ffffffc5;
    backdrop-filter: blur(10px);
    box-shadow: 0px 10px 30px 1px rgba(0, 0, 0, 0.12);
    padding: 0 1rem;
    border-radius: 10px;
    z-index: 30;
    transition: 300ms ease-in-out;
    text-decoration: none;
    overflow: hidden;
    height: 0px;
    transition: height 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) ease-in-out;
    display: none;
}

.dropdown-menu.open {
    display: block;
    height: 12rem;
    padding: 1rem;
}


.dropdown-menu a {
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: #eb0000;
    margin: 0 auto;
    text-align: center;

}
.dropdown-menu a:hover {
    color: #701414;
}

.dropdown-menu li {
    list-style-type: none;
    padding: 0.5rem 1.5rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

@media only screen and (max-width:768px) {
    .dropdown-menu {
        display: block;
        width: 100%;
        justify-content: center;
    }
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    
}

/*container*/

.flex-grow {
    flex-grow: 1;
}

.main-content{
    padding-top: 2.5rem;
    display: flex;
    flex-direction: column;
}

.container1 {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    gap: 3rem;
    padding: 5rem 0;
}
@media only screen and (max-width:1050px) {
    .container1{
        width: 80%;
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

.content1-container1 {
    width: 100%;
    float: left;
    display: flex;
    flex-shrink: 1;
}

.content1-container2 {
    margin: auto;
    align-items: center;
    max-width: fit-content;
    
}

.content1-wrapper {
    width: 100%;
    margin: auto 0;
}

.content1-img {
    width: 100%;
    display: block;
    /* margin-right: 0;
    margin-left: auto; */
    object-fit: cover;
    border-radius: 13px;   
}

.content1-subcontainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    color: #BC2F47;
    height: fit-content;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.container2 {
    width: 100%;
    margin: auto;
    padding: 5rem 0;
}

.container2-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
    justify-content: center;
}

.c2-img-container {
    height: auto;
    width: calc(100%/3);
}

.content2-img {
    width: 100%;
    display: block;
    margin: 0;
    object-fit:cover;
    height: auto;
}

@media only screen and (max-width:1050px) {
    .container2-wrapper{
        grid-template-columns: 1fr 1fr;
        gap: 0;
    }   
    .c2-img-container {
        width: 50%;
    }
}
@media only screen and (max-width:768px) {
    .container2-wrapper{
        grid-template-columns: 1fr;
        gap: 0;
    }
    .c2-img-container {
        width: 100%;
    }
}

/* .container2-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
}
@media only screen and (max-width:1050px) {
    .container2-wrapper{
        grid-template-columns: 1fr 1fr;
        gap: 0;
    }
    .c2-img-container:last-child {
        grid-column: 1/-1;
    }
}
@media only screen and (max-width:768px) {
    .container2-wrapper{
        grid-template-columns: 1fr;
        gap: 0;
    }
    .c2-img-container:last-child {
        grid-column: 1/-1;
    }
} */


.container3 {
    width: 90%;
    margin: auto;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content3-subcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    width: 80%;
    max-width: 1000px;
    align-items: center;
    padding-top: 2rem;
}

.content3-img {
    padding: 0 0 0.5rem 0;
    height: 2.4rem;
    width: auto;
    filter: grayscale(100%);
}

.container4 {
    width: 100%;
    margin: auto;
    padding: 5rem 0;
    align-items: center;
}

.content4-subcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding-top: 2rem;
    column-gap: 2rem;
    padding-top: 3.5rem;
}

.content4 {
    width: 23rem;
    padding: 1rem;
    align-items: center;
}

.content4-img {
    display: block;
    width: 0 auto;
    height: 20rem;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0 -0.4rem 1rem 0.7rem rgba(0, 0, 0, 0.12);
}

.container5 {
    width: 100%;
    margin: auto;
    align-items: center;
    background-color: #ffffff;
    padding: 2rem 0;
}

.container5-subcontainer {
    width: 100%;
    position: relative;
}

.container5-carousel {
    width: 80%;
    max-width: 1200px;
    height: fit-content;
    margin: 0 auto;
    position: relative;
    padding: 1rem 0;
    overflow: hidden;
}

.carousel-wrapper {
    position: relative;
    margin: 0 auto;
    display: grid;
    grid-auto-flow:column ;
    grid-auto-columns: calc((100% - (1rem * (var(--per-view) - 1))) / var(--per-view));
    /* padding: 2rem 1rem; */
    gap: 1rem;
    white-space: nowrap;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scroll-padding: 0;
    transition: 0.5s ease-in-out;
    
}

@media only screen and (max-width:768px) {
    .container5-carousel {
        width: 65%;
    }
}

.carousel-item {
    border-radius: 15px;
    background-color: #ffffff;
    border: 0.5px solid #414c6138;
    box-shadow: 0rem 0rem 0.8rem 0.1rem rgba(0, 0, 0, 0.116);
    transition: 300ms ease-in-out;
}

.carousel-item:hover {
    transition: 300ms ease-in-out;
    transform: translateY(-0.8rem);
    opacity: 80%;
    cursor: pointer;
}

.carousel-item:first-child {
    margin-left: 0;
    
}

.carousel-item:last-child {
    margin-right: 0;
    
}

.carousel-img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.carousel-button {
    position: absolute;
    width: calc(80% + 3rem);
    max-width: 1248px;
    height: 3rem;
    top : 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    z-index: 800;
}
@media only screen and (max-width:768px) {
    .carousel-button {
        width: calc(65% + 4rem);
    }
}

.container5-vm {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 2rem 10%;
    align-items: center;
}

.container6 {
    width: 100%;
    margin: 0 auto;
    padding: 1rem 0;
}
@media only screen and (max-width:1000px) {
    .container6{
        width: 95%;
    }
}


.container6-wrapper {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    gap: 3rem;
    padding: 5rem 0;
}
@media only screen and (max-width:1080px) {
    .container6-wrapper{
        width: 95%;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}

.content6-container1 {
    margin: auto;
    align-items: center;
    max-width: fit-content;
}

.content6 {
    width: 100%;
    border: 1px solid #607d999c;
    border-radius: 13px;
}

.content6-img {
    width: 100%;
    display: block;
    margin-right: 0;
    margin-left: auto;
    object-fit:cover;
    border-radius: 13px;
}
@media only screen and (max-width:1080px) {
    .content6-img{
        width: 100%;
        max-width: 700px;
        margin: 0 auto;
    }
}

.content6-container2 {
    width: 100%;
    display: flex;
    align-items: center;
}

.content6-form {
    max-width: 100%;
    margin: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    flex-direction: row;
    gap: 1.5rem;
    margin: 1rem;
    box-sizing: border-box;
}
@media only screen and (max-width:800px) {
    .content6-form{
        width: 80%;  
    }
}


.content6-form input {
    height: 3rem;
    border: none;
    background-color: #dfdfdf;
    border-radius: 7px;
    box-sizing: border-box;
    padding: 0.5rem;
}

.content6-form input:focus {
    border: 2px #4b4b4b;
}


.c6f-message {
    display: flex;
    grid-column: 1/-1;
    width: 100%;
    height: 5rem !important;
    text-wrap: wrap;
    border: none;
    background-color: #dfdfdf;
    border-radius: 7px;
    padding: 1rem 0.5rem;
    resize: none;
}

.c6f-button {
    grid-column: 3;
}

.c6f-date {
    grid-column: 1;
    color: #4b4b4b;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0.5rem !important;
    appearance: none; /* Removes the default appearance */
    -webkit-appearance: none; /* For Safari */
    position: relative;
    min-width: 0; /* Prevent shrinking */
}

.c6f-date::-webkit-calendar-picker-indicator {
    opacity: 0;
    display: block;
    position: absolute;
    right: 10px;
    width: 20px;
    height: 100%;
    cursor: pointer;
}

.c6f-date:before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="grey" viewBox="0 0 24 24"><path d="M19 4h-1V2h-2v2H8V2H6v2H5c-1.1 0-1.99.9-1.99 2L3 20c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V10h14v10zM7 12h5v5H7z"/></svg>');
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* Makes the icon non-clickable but allows the input's functionality */
}
@media only screen and (max-width:680px) {
    .content6-form{
        width: 90%; 
        grid-template-columns: 1fr;
    }
    .content6-form *{
        grid-column: 1;
        width: 100%;
    }
}


footer {
    width: 100%;
    height: auto;
    bottom: 0;
    color: #000000;
    background-color: #ffffff;
    font-size: 1rem;
    border-top: 1px solid #cacaca;
}

.footer-container {
    height: auto;
    width: 65%;
    display: flex;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    flex-direction: column;
    padding-bottom: 0.3rem;
    margin: 0 auto;
}

.footer-subcontainer1 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    margin: 0 auto;
    gap: 1rem;
    flex-direction: row;
}
@media only screen and (max-width:900px) {
    .footer-subcontainer1{
        grid-template-columns: 1fr 1fr;
    }
}


.footer-subcontainer2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    margin-bottom: 1rem;
    align-items: center;
}

.subscribe {
    margin: 1.44rem 0;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* margin-left: 5rem; */
}
@media only screen and (max-width:900px) {
    .subscribe{
        grid-column: 1/-1;
        padding-bottom: 3rem;
    }
}

.subs-form {
    align-items: center;
    height: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 450px;
    min-width: 250px;
       
}

.subs-entry {
    display: flex;
    height: 100%;
    align-items: center;
    position: relative;
    width: 100%;
    min-width: 250px;
    align-items: center;
    /* margin-right: 20px; */
    margin-bottom: 20px;
    
}

.subs-entry input{
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    position: absolute;
    font-size: 1rem;
    outline: none;
    border-radius: 5px;
    border: 1.5px solid #424242;
    background: transparent;
    color: transparent;
    z-index: 1111;
    transition: 200ms ease-in-out;
    align-items: center;
    padding: 0 8px;
}

.subs-entry input:active, input:focus {
    background-color: #e9e9e9;
    transition: 200ms ease-in-out;
    color: #000000;
}

.subs-label {
    position: absolute;
    font-size: 1rem;
    margin-top: 10px;
    height: 100%;
    color: #000000;
    padding-left:10px; 
    align-items: center;
    max-width: 450px;
    min-width: 250px;
}

.subs-button-container {
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    align-items: end;
}

.sosmed {
    height: auto;
    margin: 0 auto;
    align-items: center;
}


.contact {
    height: auto;
    margin: 1.44rem 0rem;
}

.explore {
    height: auto;
    margin: 1.44rem 0em;

}


.icon-footer {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.2rem;
    justify-content: center;
    align-items: center;
}

.icon-item {
    padding-top: 1rem;
    display: flex;
    gap: 1 rem;
    margin: 0;
    color: #ffffff;
    flex-direction: row;
    width: fit-content;
    height: 100%;
}

.icon-item p {
    margin: 0.3rem auto;
}

.icon-img {
    width: 2rem;
    height: auto;
}

.license {
    width: 80%;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #000000;
    margin: 0.96rem auto;
    padding-bottom: 2rem;
}

.col-25{
    width: 25%;
    height: 100%;
    float: left;
    object-fit: fill;
    
}

.col-75{
    width: 75%;
    height: 100%;
    float: left;

}

/*text*/

.welcome-text {
    text-align: left;
    width: 100%;
    margin:0 auto 0 0;
    font-size: 5.28rem;
}
@media only screen and (max-width: 768px){
    .welcome-text {
        font-size: 3.5rem;
    }
}

.job {
    text-align: center;
    width: 80%;
    margin:0 auto;
    font-size: 4rem;
    color: #BC2F47;
}
@media only screen and (max-width: 768px){
    .job {
        font-size: 3.5rem;
    }
}

.content1-subcontainer p {
    color: #000000;
    margin: 1rem 0;
}

.content3-text {
    margin: 0 auto;
    width: 100%;
    font-size: 0.95rem;
    font-weight: 600;
    color: rgb(32, 32, 32);
    text-align: center  ;
}

.content4 h2 {
    color:#BC2F47;
    text-align: center;
    font-weight: 550;
    padding: 1rem 0;
}

.content4 p {
    text-align: center;
}

.container5 h1 {
    text-align:center;
    color: #BC2F47;
    font-size: 4rem;
}
@media only screen and (max-width: 768px){
    .container5 h1 {
        font-size: 3.5rem;
    }
}

.content6 h1 {
    color: #BC2F47;
    font-size: 3rem;
    margin: 1rem 1rem 0 1rem;
    text-align: center;
}
.content6 p {
    font-weight: 500;
    margin: 0 1rem 2rem 1rem;
    text-align: center;
}

.contact p{
    padding-top: 1rem;
}

.contact h3 {
    color: #bc2f47;
}

.explore li {
    list-style-type: none;
    padding-bottom: 1rem;
    margin: 0;
}

.explore ul {
    padding: 0;
    list-style-type: none;
    padding-top: 1rem;
    margin: 0;
}

.explore a {
    text-decoration: none;
    color: #000000;
}
.explore a:hover {
    color: #E85322;
}

.explore h3 {
    color: #bc2f47;
}

.subscribe h3 {
    padding-bottom: 1rem;
    color: #bc2f47;
}

.sosmed h3{
    margin: 1rem auto;
    color: #bc2f47;
}

.carousel-item h2 {
    color: #BC2F47;
    text-align: center;
    margin-top: 1.5rem;
}

.carousel-item p{
    text-wrap:wrap;
    margin: 1rem;
    font-size: 1rem;
    text-align: center;
}


/*button*/
.header-button {
    margin: 0.7rem auto 0.7rem auto;
    display: flex;
    color: #ffffff;
    background-color: #bc2f47;;
    text-decoration: none;
    text-align: center;
    font-weight:500;
    padding: 0.85rem 1.104rem;
    border-radius: 7px;
    transition: 300ms;
}
@media only screen and (max-width:768px){
    .header-button {
        display: none;
    }
}

.header-button:hover {
    background-color: #bd4e60;
    transform: scale(1.05,1.05);
    transition: 300ms ease-in-out;
    /* box-shadow: 2px 2px 10px 3px #4b4b4b; */
}

.header-button:active {
    background-color: #9b263a;
    transform: scale(1.015,1.015);
    transition: 150ms ease-in-out;
    /* box-shadow: 1px 1px 5px 2px #4b4b4b; */
}

.dropdown-header-button {
    margin: 0.72rem;
    margin-right: 0;
    display: flex;
    color: #ffffff !important;
    background-color:#BC2F47;
    text-decoration: none;
    text-align: center;
    font-weight:500;
    padding: 0.85rem 1.104rem;
    border-radius: 7px;
    transition: 300ms;
}

.dropdown-header-button:hover {
    background-color: #bd4e60;
    /* transform: scale(1.05,1.05); */
    transition: 300ms ease-in-out;
    /* box-shadow: 0px 0px 10px 1px #4b4b4b79; */
}

.dropdown-header-button:active {
    background-color: #9b263a;
    transform: scale(1.015,1.015);
    transition: 150ms ease-in-out;
    /* box-shadow: 1px 1px 5px 2px #4b4b4b; */
}


.content-button {
    margin-left: 0;
    margin-right: auto;
    display: flex;
    color: #ffffff;
    background-color: #BC2F47;
    text-decoration: none;
    text-align: center;
    font-weight:500;
    padding: 1.104rem;
    border-radius: 7px;
    transition: 300ms;
    width: fit-content;
    /* box-shadow: 1px 1px 10px 2px #4b4b4b54; */
}

.content-button:hover {
    background-color: #bd4e60;
    transform: scale(1.05,1.05);
    transition: 300ms ease-in-out;
    /* box-shadow: 2px 2px 10px 3px #4b4b4b; */
}

.content-button:active {
    background-color: #9b263a;
    transform: scale(1.015,1.015);
    transition: 150ms ease-in-out;
    /* box-shadow: 1px 1px 5px 2px #4b4b4b; */
}

.subs-button {
    display: flex;
    color: #ffffff;
    background-color: #BC2F47;
    text-decoration: none;
    text-align: center;
    font-weight:500;
    padding: 0.6rem 1rem;
    border-radius: 7px;
    transition: 300ms;
    height: fit-content;
    align-items: center;
    width: fit-content;
    margin-left: auto;
    border: none;   
    cursor: pointer;
}
@media only screen and (max-width:900px) {
    .subs-button{
        width: 100%;
    }
}

.subs-button:hover {
    background-color: #bd4e60;
    transition: 300ms ease-in-out;
    /* box-shadow: 2px 2px 10px 3px #4b4b4b; */
}

.subs-button:active {
    background-color: #9b263a;
    transform: scale(0.95,0.95);
    transition: 150ms ease-in-out;
    /* box-shadow: 1px 1px 5px 2px #4b4b4b; */
}

.carousel-button i {
    font-size: 1.5rem;
    color: #222222;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background-color: #ffffffa2;
    backdrop-filter: blur(5px);
    margin: 0;
    box-shadow: 3px 3px 9px 5px rgba(0, 0, 0,0.12);
    position: absolute;
    min-width: 50px;
    min-height: 50px;
    cursor: pointer;
}

.carousel-button i:active {
    background-color: #686868a2;
}

.carousel-button i:first-child{
    left: 0;
}
.carousel-button i:last-child{
    right: 0;
}

.content5-button {
    position: relative;
    text-decoration: none;
    color: #ffffff;
    background-color: #BC2F47;
    padding: 0.8rem 1rem;
    border-radius: 7px;
    font-weight: 500;
    font-size: 1.25rem;
    transition: 300ms ease-in-out;
    margin: 0 auto;
    /* box-shadow: 1px 1px 10px 2px #5a5a5a77; */
}
.content5-button:hover {
    background-color: #bd4e60;
    transform: scale(1,1);
    transition: 300ms ease-in-out;
    transform: scale(1.03, 1.03);
    
}

.content5-button:active {
    background-color: #9b263a;
    transform: scale(0.95,0.95);
    
    transition: 150ms ease-in-out;
    
}

.c6f-button {
    display: flex !important;
    color: #ffffff;
    background-color: #BC2F47 !important;
    font-weight:500;
    padding: 0.6rem 1rem !important;
    border-radius: 7px;
    transition: 300ms;
    height: 3rem !important;
    align-items: center !important;
    width: 100% !important;
    margin-left: auto;
    margin-right: 1.2rem;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    
}
.c6f-button:hover {
    background-color: #bd4e60;
    transition: 300ms ease-in-out;
    /* box-shadow: 2px 2px 10px 3px #4b4b4b; */
}

.c6f-button:active {
    background-color: #9b263a;
    transform: scale(0.95,0.95);
    transition: 150ms ease-in-out;
    /* box-shadow: 1px 1px 5px 2px #4b4b4b; */
}

/* animation */

@media (prefers-reduced-motion: no-preference){
    @keyframes appear {
        0% {
            opacity: 0;
            transform: translateY(400px);
            scale: 0.9;
        }
        100% {
            opacity: 1;
            transform: translateY(0);
            scale: 1;
        }
    }
}

.anim {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}